node_modules/
.env
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.metadata
mobile/ios/Pods/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
build/